<h1>save your detail</h1>
<form name="student" ng-submit="std.Save()">
    <div style="padding:5px">
        Name : <input type="text" ng-model="std.Student.Name" /><br />
    </div>
    <div style="padding:5px">
        Phone : <input type="text" ng-model="std.Student.Phone" /><br />
    </div>
    <div style="padding:5px">
        Email : <input type="text" ng-model="std.Student.Email" /><br />
    </div>
    <div style="padding:5px">
        City : <input type="text" ng-model="std.Student.City" /><br />
    </div>
    <div style="padding:5px">
        Address : <input type="text" ng-model="std.Student.Address" /><br />
    </div>
    <input type="submit" value="Save" />
</form>
